* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
resources/views/resguardos/* linguist-vendored
resources/views/reporte/* linguist-vendored
CHANGELOG.md export-ignore
